.img-details {
/* La imagen ocupa todo el ancho disponible */
    width: 100%; 
/* La imagen ocupa todo el alto disponible */
    height: 100%; 
/* La imagen no se deforma y se ajusta a la tarjeta */
    object-fit: cover; 
/* La imagen se alinea a la izquierda */
    object-position: left; 
}

/* Estilos de la información de la tarjeta */
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
/* Añade un poco de espacio al texto */
    padding: 10px;
     text-shadow: 2px 2px 4px rgb(198, 110, 181);
  }

/* Estilos del párrafo en la información de la tarjeta */
.card-info p {
    font-size: 16px;
    margin: 5px 0;
    text-align: left;
    position: relative;
    padding-top: 1px;
    top: 4px;
    justify-content: center;
  }
    
/* Estilos generales de la tarjeta */
.card {
    width: 60%;
    height: 80%;
    display: grid;
/* Divide la tarjeta en 1/3 y 2/3 */
    grid-template-columns: 1fr 2fr; 
/* Ocupa la mitad de la altura */
    grid-template-rows: 1fr; 
    border: 1px solid #f67fcf;
    border-radius: 8px;
/* Evita que el contenido sobresalga de la tarjeta */
    overflow: hidden; 
/* Ajusta la posición horizontal y vertical */    
    margin-left: 20%;
    margin-top: 8%;
  }

  /* Estilos del título en la información de la tarjeta */
  .card-info h1 {
    font-size: 24px;
    text-align: center;
    padding-top: 1px;
  }